In [1]:
import pandas as pd

In [2]:
df_standing = pd.read_csv('preprocessed/standing.csv')
df_sitting = pd.read_csv('preprocessed/Sitting.csv')
df_fall1 = pd.read_csv('preprocessed/falldown.csv')
df_fall2 = pd.read_csv('preprocessed/falldown2.csv')

In [3]:
df_list = [df_standing, df_sitting, df_fall1, df_fall2]

In [4]:
df_standing

,Score_1,X_pos_1,Y_pos_1,Score_2,X_pos_2,Y_pos_2,Score_3,X_pos_3,Y_pos_3,Score_4,...,Y_pos_14,Score_15,X_pos_15,Y_pos_15,Score_16,X_pos_16,Y_pos_16,Score_17,X_pos_17,Y_pos_17
0,1.0,275,44,1.0,282,36,1,261,40,0.99,...,272,0.93,261,272,0.58,255,361,0.49,257,360
1,1.0,275,47,1.0,282,37,1,261,43,1.00,...,269,0.82,309,271,0.68,255,360,0.58,256,358
2,1.0,273,47,1.0,280,37,1,261,44,1.00,...,272,0.85,257,273,0.64,257,359,0.75,256,357
3,1.0,268,45,1.0,279,36,1,261,43,1.00,...,271,0.88,256,272,0.64,256,361,0.67,254,365
4,1.0,268,46,1.0,279,36,1,261,43,1.00,...,269,0.80,257,270,0.70,257,358,0.66,257,356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,1.0,267,49,1.0,272,40,1,257,41,1.00,...,288,0.95,310,284,0.80,263,387,0.66,265,387
409,1.0,257,51,1.0,265,41,1,245,43,1.00,...,289,0.92,306,294,0.84,260,381,0.70,262,381
410,1.0,251,53,1.0,257,43,1,241,45,0.99,...,292,0.97,258,287,0.78,313,354,0.74,264,385
411,1.0,252,52,1.0,257,43,1,241,44,0.99,...,289,0.95,258,283,0.92,311,342,0.84,265,388
412,1.0,252,51,1.0,258,42,1,241,43,0.99,...,289,0.94,259,287,0.91,311,344,0.76,263,384

In [5]:
for df in df_list:
    print(df.shape)

(413, 51)
(350, 51)
(474, 51)
(252, 51)

In [6]:
df_standing['output'] = 'standing'
df_sitting['output'] = 'sitting'
df_fall1['output'] = 'falling'
df_fall2['output'] = 'falling'

In [7]:
df = pd.concat(df_list)
df

,Score_1,X_pos_1,Y_pos_1,Score_2,X_pos_2,Y_pos_2,Score_3,X_pos_3,Y_pos_3,Score_4,...,Score_15,X_pos_15,Y_pos_15,Score_16,X_pos_16,Y_pos_16,Score_17,X_pos_17,Y_pos_17,output
0,1.00,275,44,1.0,282,36,1.00,261,40,0.99,...,0.93,261,272,0.58,255,361,0.49,257,360,standing
1,1.00,275,47,1.0,282,37,1.00,261,43,1.00,...,0.82,309,271,0.68,255,360,0.58,256,358,standing
2,1.00,273,47,1.0,280,37,1.00,261,44,1.00,...,0.85,257,273,0.64,257,359,0.75,256,357,standing
3,1.00,268,45,1.0,279,36,1.00,261,43,1.00,...,0.88,256,272,0.64,256,361,0.67,254,365,standing
4,1.00,268,46,1.0,279,36,1.00,261,43,1.00,...,0.80,257,270,0.70,257,358,0.66,257,356,standing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,0.99,420,72,1.0,422,69,0.99,409,70,0.99,...,0.39,485,288,0.66,545,426,0.44,435,430,falling
248,0.99,421,70,1.0,422,68,0.99,413,67,0.99,...,0.40,487,291,0.75,544,423,0.33,544,425,falling
249,0.99,419,73,1.0,422,70,1.00,408,70,0.99,...,0.32,383,302,0.75,544,424,0.28,437,437,falling
250,0.99,419,73,1.0,419,67,0.99,409,69,0.98,...,0.58,486,286,0.73,543,422,0.54,435,430,falling
251,1.00,420,70,1.0,421,66,1.00,408,68,0.99,...,0.60,486,288,0.64,544,421,0.45,435,430,falling

In [8]:
output_dict = {'standing':0, 'falling':1, 'sitting':2}
df['mapped_output'] = df['output'].map(output_dict)

In [9]:
df[['mapped_output', 'output']][1000:]

     mapped_output   output
237              1  falling
238              1  falling
239              1  falling
240              1  falling
241              1  falling
..             ...      ...
247              1  falling
248              1  falling
249              1  falling
250              1  falling
251              1  falling

[489 rows x 2 columns]

In [10]:
df.drop('output', axis=1, inplace=True)

In [11]:
df = df.sample(frac=1)

In [12]:
df.to_csv("Final/dataset.csv", index = False)